@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Bank</h1>
</div>

<!-- Button trigger modal -->
<div class="my-3">
    @if (User.Identity.IsAuthenticated)
    {
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
            Withdraw
        </button>
    }

</div>
<!-- Modal -->
<form method="post" >
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Withdraw amount</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Transaction.Amount" class="control-label"></label>
                        <input asp-for="Transaction.Amount" class="form-control" />
                        <span asp-validation-for="Transaction.Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Transaction.To" class="control-label"></label>
                        <input asp-for="Transaction.To" class="form-control" />
                        <span asp-validation-for="Transaction.To" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Withdraw" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionList[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionList[0].Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionList[0].From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionList[0].To)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.TransactionList)
        {
        <tr>
            <td>
                @item.Amount
            </td>
            <td>
                @item.Balance
            </td>
            <td>
                @item.From
            </td>
            <td>
                @item.To
            </td>
        </tr>
        }

    </tbody>
</table>
